html {
    scroll-behavior: smooth;
    overflow: hidden; /* Evita el scroll en el eje principal */
}

body {
    scroll-behavior: smooth;
    overflow: hidden;
    -ms-overflow-style: none;  /* Oculta el scroll en IE y Edge */
}

body::-webkit-scrollbar {
    display: none; /* Oculta el scroll en Chrome, Safari y Opera */
}
