.App {
  text-align: center;
  overflow-x: hidden;
  overflow: hidden;
}

html, body{
  scrollbar-width: thin;
  scrollbar-color: #2d2d2d #171717;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* boton */
.scroll-button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-end; /* Alinea al final (abajo) del contenedor */
  position: fixed; /* Cambia a `fixed` para que permanezca en la pantalla */
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  left: 50%; /* Alinea horizontalmente en el centro */
  transform: translateX(-50%); /* Ajusta la posición para centrar horizontalmente */
  z-index: 10; /* Asegúrate de que esté por encima de otras capas */
}

.scroll-button {
  filter: invert(1);
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  width: 30px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}


