#gestion-ventas {
    padding: 20px;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
  }
  
  #titulo-ventas {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff; /* Blanco para el título */
  }
  
  #tabla-ventas {
    width: 100%;
    border-collapse: collapse;
  }
  
  #tabla-ventas th,
  #tabla-ventas td {
    padding: 8px;
    text-align: left;
    border: 1px solid #444; /* Borde gris oscuro */
  }
  
  #tabla-ventas th {
    background-color: #333; /* Fondo gris oscuro para los encabezados */
    color: #fff; /* Texto blanco en los encabezados */
  }
  
  #tabla-ventas tbody tr:nth-child(even) {
    background-color: #444; /* Fondo gris oscuro para filas pares */
  }
  
  #tabla-ventas tbody tr:nth-child(odd) {
    background-color: #555; /* Fondo gris medio para filas impares */
  }
  
  #id-venta, #descripcion-venta, #tipo-pago-venta, #total-pagado-venta,
  #fecha-venta, #usuario-venta, #proveedor-venta, #empleado-venta {
    word-wrap: break-word;
    color: #fff; /* Texto blanco */
  }
  
  #no-ventas {
    text-align: center;
    font-style: italic;
    color: #bbb; /* Gris claro para el mensaje de no hay ventas */
  }
  